{% extends 'base.html.twig' %}

{% block title %}
    Connexion - {{ parent() }}
{% endblock %}


{% block body %}
    <div id ="content" class="container">
        Bienvenue dans la page de connexion
    </div>
{% endblock %}