<div id="footer" class="container-fluid">
    <div class="col-12">
        <ul class="nav navbar-light justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="{{ path ('informations_faq')}}">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path ('informations_cgu')}}">CGU</a>
            </li>
        </ul>
    </div>
</div>